html {
    background-color: white;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 3em;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.text {
    padding: 10px 50px 0px 50px;
    background-color: #f1f1f1;
    margin-top: 25px;
}

.no-spacing {
    line-height: normal;
}

@media (min-width: 700px) {
    body {
        width: 50%;
        margin: 20px auto 0 auto;
        border-style: solid;
    }
}

@media (max-width: 480px) {
    body {
        border: none;
        width: 100%;
    }
}

#title {
    background-color: white;
    border-width: 1px;
    padding: 50px;
    text-align: center;
    margin: 0;
}

#img-div {
    margin: 50px auto 50px auto;
    background-color: #d1d1d1;
    text-align: center;
}

#image {
    max-width: 100%;
    height: auto;
}

#img-break {
    height: 3px;
    background-color: black;
    border-color: black;
}

#img-caption {
    padding: 5px;
}

#list {
    margin: 50px auto 50px auto;
    padding: 10px;
}

#list li {
    width: 75%;
    margin: auto;
    line-height: normal;
    margin-top: 25px;
}

a:visited {
    color: darkgray;
}